<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <style>
          *{
               margin: 0;
               padding: 0;
               font-family: Century Gothic;
               background-image: linear-gradient(to right, rgba(34, 184, 221, 0.849), rgb(253, 195, 36));
               
          }
         
          
          header{
               background-color: blanchedalmond;
               background-image: url(1.jpg);
               height: 140vh;
               background-size: cover;
               background-position: center;
          }
          ul{
               float: right;
               list-style-type: none;
               margin-top: 10px;
          }
          ul li{
               display: inline-block;
          }
          ul li a{
               font-size: 25px;
               color: rgb(59, 7, 59);
               padding: 5px 20px;
               border-radius: 25%;
               border: solid rgb(211, 204, 204);
          
          }
          ul li a:hover{
               background-color: rgb(252, 248, 248);
               color: rgb(247, 240, 240);
          }
        
          .main{
               position: right;
               top: 55%;
               left: 30%;
               max-width: 1500px;
               
          }
       
          .title{
               position: absolute;
               top: 35%;
               left: 50%;
               transform: translate(-50%,-50%);
               padding: 5px 20px;
               border-radius: 30px;
               border: 2px solid rgb(31, 30, 30);
          }	
          .title h1{
               color: #09026b;
               font-size: 150px;
          }
          .title h1:hover{
               background-color:solid rgb(52, 14, 224);
               
          }
          .btn{
               font-size: 30px;
               border: 2px solid rgb(75, 74, 74);
               padding: 10px 30px;
               color: #37026b;
               text-decoration: none;
               transition: 0.65 ease;
          }
          .btn:hover{
               background-color: rgb(128, 124, 124);
               color: rgb(252, 245, 245);
          }
          
        </style>
        <div>
               <ul>
                    <li><a href = "/"> Home </a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/login">Logout</a></li>
                    
               </ul>
               <div class="title">
                    <h1>NODE.JS </h1>
                    <a href = "/register" class="btn">SIGN UP</a>
                    <a href = "https://www.youtube.com/watch?v=U8XF6AFGqlc" class="btn">WATCH VIDEO</a>
			</div>
          </div>
         
      </div>
     
</body>
</html>

